<<<<<<< HEAD
body{
    background-image: url("images/background.jpg");
    padding: auto;
}

header{
    background-image:url("images/bg.jpg");
    height: 280px;
    width: 100%;
    position: relative;

}
.head{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding: 25px ;
    color: white;
    font-family: Arial;
    top: 80%;

    position: relative;
}

p>img{

    border-radius: 50%;
    height:50%;
    margin: 10px ;
    position: relative;
}
footer>a{
    text-decoration: none;
    color: burlywood;
    font-size: 25px;
    font-family: "Arial Black";
}
footer> a:hover{
    background-color: bisque;

}
=======
body{
    background-image: url("images/background.jpg");
    padding: auto;
}

header{
    background-image:url("images/bg.jpg");
    height: 280px;
    width: 100%;
    position: relative;

}
.head{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding: 25px ;
    color: white;
    font-family: Arial;
    top: 80%;

    position: relative;
}

p>img{

    border-radius: 50%;
    height:50%;
    margin: 10px ;
    position: relative;
}
footer>a{
    text-decoration: none;
    color: burlywood;
    font-size: 25px;
    font-family: "Arial Black";
}
footer> a:hover{
    background-color: bisque;

}
>>>>>>> b89b97947eaa3e4c9e8cdf3d5b98d7eaba650a21
